<%- include("./partials/header.ejs") -%> 
<h1>chal gaya bhai masttt ahh</h1>
 
 
    
        <h1><%= title -%> </h1>
        <h3><%=text -%> </h3>
   
    

<%- include("./partials/footer.ejs") -%>     